.jVBYtr {
  height: 1px !important;
  transition: border-color 0.5s !important;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: oklch(70.7% 0.022 261.325) !important;
}

.OckMJ {
  border-right: 1px solid oklch(70.7% 0.022 261.325) !important;
}

/* lose chip */
.fdUCnJ {
  width: 50px !important;
  height: 25px !important;
  margin-right: 0.5rem !important;
  border-radius: 3rem !important;
  background-color: oklch(97.1% 0.013 17.38) !important;
  border: 1px solid oklch(50.5% 0.213 27.518) !important;
  color: oklch(50.5% 0.213 27.518) !important;
  font-size: 1rem !important;
  text-transform: lowercase !important;
}

/* hover lose chip */
.bJCLzs .sc-kLhKbu {
  color: oklch(39.6% 0.141 25.723) !important;
  border-color: oklch(39.6% 0.141 25.723) !important;
}

/* win chip */
.dLtFMG {
  width: 52px !important;
  height: 25px !important;
  margin-right: 0.5rem !important;
  border-radius: 3rem !important;
  background-color: oklch(92.5% 0.084 155.995) !important;
  border: 1px solid oklch(52.7% 0.154 150.069) !important;
  color: oklch(52.7% 0.154 150.069) !important;
  font-size: 1rem !important;
  text-transform: lowercase !important;
}

.jDsExz {
  border-width: 1px 1px 1px 4px !important;
}

.jzlptD {
  border: none !important;
}

.bJCLzs {
  border-right: 1px solid oklch(70.7% 0.022 261.325) !important;
}

.dPkoRS {
  border-right: 1px solid oklch(70.7% 0.022 261.325) !important;
}

.sc-ghWlax {
  border: none !important;
}

.iYDETa {
  height: 0px !important;
  border: none !important;
}

.buymxC {
  border-right-width: 1px !important;
}

.bDauSl {
  border-right-width: 1px !important;
}

.kGFrzb {
  border-right-width: 1px !important;
}

.kzKHig {
  border-right-width: 1px !important;
}

/* Round title */
.sc-gtLWhw {
  fill: #812DD9;
  border-radius: 1rem;
}
